*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #f3f3f3;
    font-family: 'Poppins',sans-serif;
}

.menu{
    padding: 0;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(350px,1fr));
    grid-gap: 20px 40px;
}
.navbar{
    /* width: 2890px;
    height: 93px;
    left: -12px;
    top: 0px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
}
.logo{
    /* position: absolute; */
    width: 150px;
    height: 100px;
    top: 8px;
}

.navbar .menu-button {
    display: none;
    width: 50px;
    height: 50px;
}

@media screen and (max-width: 810px) {
    .navbar ul {
        position: absolute;
        top: 80px;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: black;
        z-index: 10;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .menu-button {
        display: block;
    }
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    font-weight: bold;
    /* left: 980px;
    top: -55px;  */
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background:red;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.cart{
    position: relative;
    width: 50px;
    height: 50px;
    /* left: 2790px;
    top: -100px; */
    cursor:pointer;
}
.heading{
    background-color: black;
    color: #ffffff;
    margin-bottom: 30px;
    padding: 50px 0 50px 0;
    grid-column: 1/-1;
    text-align: center;
}
.heading>h1{
    font-weight: 400;
    font-size: 40px;
    letter-spacing: 10px;
    margin-bottom: 10px;
}
.heading>h3{
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 5px;
}
.food-items{
    display: grid;
    position: relative;
    grid-template-rows: auto 1fr;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    margin: 0 20px;
}
.food-items img{
    position: relative;
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.details{
    padding: 20px 10px;
    display: grid;
    grid-template-rows: auto 1fr 50px;
    grid-row-gap: 15px;
}
.details-sub{
    display: grid;
    grid-template-columns: auto auto;
}
.details-sub>h5{
    font-weight: 600;
    font-size: 18px;
}
.price{
    text-align: right;
}
.details>p{
    color: #6f6f6f;
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    align-self: stretch;
}
.btn-primary{
    background-color: black;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    width: 180px;
}
