<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}" />
  <link href='https://fonts.googleapis.com/css?family=Hansief' rel='stylesheet'/>
  <title>Mario & Luigi Pizzeria</title>
  <link rel="icon" type="image/x-icon" href="../static,filename='images/logo.png">
</head>

<body>
  <div class="navbar">
      <img
        src="{{url_for('static', filename='images/logo.png')}}"
        class="logo"
      />
      <button class="menu-button">...</button>
      <ul>
        <li style><a href="/">Home</a></li>
        <li><a href="/order">Menu</a></li>
        <li><a href="/locations">Location</a></li>
        <li><a href="/offers">Offers</a></li>
        <li><a href="/reservation">Contact</a></li>
        <li><a href="/login">LogIn</a></li>
      </ul>
      <a href="/shopping_cart">
        <img
          src="{{url_for('static', filename='images/shopping_cart.png')}}"
          class="cart"
      /></a>
  </div>
  <div class="banner">
    <div class="content">
      <h1>Mario & Luigi's Pizzeria</h1>
      <p>Best Pizza in Town</p>
      <div>
          <button type="button">
              <span></span><a href="/order">Order Now</a>
            </button>
            <button type="button">
              <span></span><a href="/reservation ">Reserve Now</a>
            </button>
      </div>

</body>

</html>