<html>

<head>
  <title>Offers - Mario & Luigi Pizzeria</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!--Google Font-->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet" />
  <!--Stylesheet-->
  <link rel="stylesheet" href="{{url_for('static', filename='order.css')}}" />
</head>

<body>
  <div class="navbar">
    <img
      src="{{url_for('static', filename='images/logo.png')}}"
      class="logo"
    />
    <button class="menu-button">...</button>
    <ul>
      <li style><a href="/">Home</a></li>
      <li><a href="/order">Menu</a></li>
      <li><a href="/locations">Location</a></li>
      <li><a href="/offers">Offers</a></li>
      <li><a href="/reservation">Contact</a></li>
      <li><a href="/login">LogIn</a></li>
    </ul>
    <a href="/shopping_cart">
      <img
        src="{{url_for('static', filename='images/shopping_cart.png')}}"
        class="cart"
    /></a>
  </div>
  <div class="menu">
    <div class="heading">
      <h1>Mario & Luigi Pizzeria</h1>
      <h3>&mdash; Offers &mdash;</h3>
    </div>
    <div class="food-items">
      <img src="{{url_for('static', filename='images/margarita.jpeg')}}" />
      <div class="details">
        <div class="details-sub">
          <h5>Margarita 2 + 1</h5>
          <h5 class="price">€20</h5>
        </div>
        <p>
          Order 2 and get the 3rd for free!</p>
        <br>
        <p>
          Italian flour, whole tomato sauce, mozzarella, tomatoes, pesto
          sauce, oregano
        </p>
        <button>Use offer</button>
      </div>
    </div>

    <div class="food-items">
      <img src="{{url_for('static', filename='images/Marrakech.jpeg')}}" />
      <div class="details">
        <div class="details-sub">
          <h5>Marrakech free</h5>
          <h5 class="price">€0</h5>
        </div>
        <p>
          Invite a friend to this website and get a free Marraketch!</p>
        <br>
        <p>
          Italian flour, whole tomato sauce, mozzarella, tomatoes, pesto
          sauce, oregano
        </p>
        <button>Generate invite link</button>
      </div>
    </div>
  </div>
</body>

</html>